@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;}
header{
	height: 70px;
	width: 100%;
	background: rgba(65,204,133,1.00);
}
.logo {width: 20%; height: 50px; float: left;font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";color: white; margin: 10px; padding-left: 20px}
#menu {width: 70%; height: 70px; float: left;}
#menu ul{list-style: none; text-align: center; padding: 14px 16px;}
#menu ul li{display: inline-block; text-align: center; font-size: 30px;height: 30px; width: 120px;margin-left: 50px;}
.nav-mobile{float: right;width: 4%; height: 55px; font-size: 30px;padding-top: 15px;padding-left: 20px; color: white;}
.nav-mobile:hover {background-color:rgba(0,114,98,1.00);float: right;}
#warpper{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;}

/*footer*/
#footer {height: 150px; background-color: #5A5960}
#footer li{color: white; font-size: 30px;padding-top: 20px; padding-left: 50px;}